# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
env/
venv/
ENV/
.venv/

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.pyc
*.pyo

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Node modules 
node_modules/
